<footer>
     <ul>
          <li><a href="https://github.com/Gokuldroid" target="_blank"><img class="icn-github"></img></a></li>
          <li><a href="https://play.google.com/store/apps/dev?id=6497481824038903914s" target="_blank"><img class="icn-gp"></img></a></li>
          <li><a href="https://www.quora.com/profile/Gokul-133" target="_blank"><img class="icn-quora"></img></a></li>
          <li><a href="https://www.facebook.com/gokul.prabhu.droid" target="_blank"><img class="icn-fb"></img></a></li>
     </ul>
</footer>